<%- include("partials/header.ejs") %>

<form action="/" method="post">
  <textarea
    type="text"
    placeholder="What's on your mind?"
    name="text"
  ></textarea>
  <input type="submit" value="Post"/>
</form>

<div>
  <form action="/blog" method="post">
    <% if(locals.arr && locals.arr.length>0){%> <% arr.map((item, index)=>{%>
      <!-- <textarea name="index" hidden><%=index%></textarea> -->
    <p id="item"><%=item%></p>
    <button type="submit" name="id" value=<%=index%>>Edit</button>
    <input type="submit" formaction="/delete" value="Delete" name="delete">    <%})}else{%>
    <p>Add new posts 📫</p>
    <%} %>
  </form>
</div>

<%- include("partials/footer.ejs") %>
